/AplicacionTuLibroOnline/src/jbiServiceUnits/
/WS_Credito/nbproject/private/
/WS_Reservacion/nbproject/private/
/WS_Renta/nbproject/private/
/WS_Rent/nbproject/private/
/WS_Credit/nbproject/private/
/WS_Reservation/nbproject/private/
/WS_Credit/build/
/WS_Credit/dist/
/WS_Rent/build/
/WS_Rent/dist/
/WS_Reservation/build/
/WS_Reservation/dist/
/WS_Reservations/nbproject/private/
/WS_Reservations/build/
/WS_Reservations/dist/
/WS_Customer_Vehicle/nbproject/private/
/WS_Customer_Vehicle/dist/
/WS_Customer_Vehicle/build/
/POJO_WS_Customer_Vehicle/nbproject/private/
/POJO_WS_Customer_Vehicle/build/
/POJO_WS_Customer_Vehicle/dist/
/POJO_WS_Reservations/nbproject/private/
/POJO_WS_Reservations/build/
/POJO_WS_Credit/nbproject/private/
/POJO_WS_Credit/build/
/POJO_WS_Credit/dist/